{% load static %}

<link rel="stylesheet" href="{% static 'css/design.css' %}">
<!DOCTYPE html>
<html>
<head>

<style>

body{
font-family:Inter;
background:#f6f8fb;
margin:40px;
}

.title{
font-size:32px;
margin-bottom:30px;
}

.order-card{
background:white;
padding:20px;
border-radius:16px;
box-shadow:0 12px 30px rgba(0,0,0,0.08);
margin-bottom:20px;
transition:0.3s;
}

.order-card:hover{
transform:translateY(-4px);
box-shadow:0 20px 40px rgba(0,0,0,0.12);
}

.btn{
margin-top:12px;
padding:12px 18px;
border:none;
border-radius:10px;
background:#2e7dff;
color:white;
cursor:pointer;
}

</style>

</head>

<body>
<div style="display:flex;justify-content:space-between;margin-bottom:40px">

<h1>Baraka Market</h1>

<div>

<button class="btn">🛒 Savatcha</button>
<button class="btn">👤 Profil</button>

</div>

</div>

<div class="title">📦 Yangi buyurtmalar</div>

{% for order in orders %}

<div class="order-card">

<h3>Order #{{ order.code }}</h3>

<p>🍔 {{ order.restaurant.name }}</p>
<p>👤 {{ order.customer_name }}</p>
<p>📞 {{ order.customer_phone }}</p>

<a href="/eda/courier/order/{{ order.id }}/">
<button class="btn">Orderni ochish</button>
</a>

</div>

{% endfor %}

</body>
</html>