{% extends "base.html" %}

{% block content %}

<div class="p-10">

<h1 class="text-3xl font-bold text-white mb-8">
📊 Savdo Statistikasi
</h1>

<!-- SALES CHART -->
<div class="bg-white p-6 rounded-xl shadow mb-10">

<h2 class="text-xl font-bold mb-4">
So‘nggi 7 kun savdosi
</h2>

<canvas id="salesChart"></canvas>

</div>


<!-- TOP SELLING PRODUCTS -->

<div class="bg-white p-6 rounded-xl shadow">

<h2 class="text-xl font-bold mb-4">
🔥 Eng ko‘p sotilgan mahsulotlar
</h2>

<table class="w-full text-left">

<tr class="border-b">
<th class="py-2">Mahsulot</th>
<th>Sotilgan</th>
</tr>

{% for p in top_products %}

<tr class="border-b">

<td class="py-3">
{{ p.product__name_uz }}
</td>

<td>
{{ p.total_sold }}
</td>

</tr>

{% empty %}

<tr>

<td colspan="2" class="text-center py-4 text-gray-500">
Hali sotuvlar mavjud emas
</td>

</tr>

{% endfor %}

</table>

</div>

</div>

{% endblock %}


{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const ctx = document.getElementById('salesChart');

new Chart(ctx, {

type: 'line',

data: {

labels: {{ sales_labels|safe }},

datasets: [{

label: 'Sales',

data: {{ sales_data|safe }},

borderColor: 'rgb(75, 192, 192)',

backgroundColor: 'rgba(75,192,192,0.2)',

tension: 0.4

}]

},

options: {

responsive: true

}

});

</script>

{% endblock %}