{% extends "base.html" %}

{% block content %}

<div class="p-10">

    <h1 class="text-3xl font-bold text-white mb-8">
        🏭 Supplier Dashboard
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

        <!-- PRODUCTS -->
        <div class="bg-white text-gray-900 p-6 rounded-xl shadow">
            <h2 class="text-xl font-bold mb-4">
                📦 My Products
            </h2>

            <ul class="space-y-3">
                {% for p in products %}
                <li class="flex justify-between border-b pb-2">
                    <span>{{ p.product.name_uz }}</span>
                    <span class="font-bold text-indigo-600">
                        {{ p.stock }} ta
                    </span>
                </li>
                {% empty %}
                <p class="text-gray-500">
                    Mahsulotlar yo‘q
                </p>
                {% endfor %}
            </ul>
        </div>

        <!-- ORDERS -->
        <div class="bg-white text-gray-900 p-6 rounded-xl shadow">
            <h2 class="text-xl font-bold mb-4">
                📦 Orders
            </h2>

            <ul class="space-y-3">
                {% for o in orders %}
                <li class="border-b pb-2">
                    <div class="flex justify-between">
                        <span>{{ o.product.name_uz }}</span>
                        <span class="font-bold">
                            {{ o.quantity }} ta
                        </span>
                    </div>

                    <div class="mt-1">
                        {% if o.status == "pending" %}
                        <span class="text-yellow-500 font-medium">
                            Kutilmoqda
                        </span>
                        {% elif o.status == "approved" %}
                        <span class="text-blue-500 font-medium">
                            Tasdiqlandi
                        </span>
                        {% elif o.status == "shipped" %}
                        <span class="text-purple-500 font-medium">
                            Yuborildi
                        </span>
                        {% elif o.status == "delivered" %}
                        <span class="text-green-600 font-medium">
                            Yetkazildi
                        </span>
                        {% else %}
                        <span class="text-gray-500">
                            Noma’lum
                        </span>
                        {% endif %}
                    </div>
                </li>
                {% empty %}
                <p class="text-gray-500">
                    Buyurtmalar yo‘q
                </p>
                {% endfor %}
            </ul>
        </div>

    </div>

</div>

{% endblock %}